
<body>


    
    <div class="content">
    <h1 class="inicio" style="margin-bottom: 1%;">¿Que se propone este team?</h1>
<p class="textoH">
    Este gran equipo formado por un gran grupo de personas y amigos, se propone poder consolidarse en una gran empresa en el area de desarollo
    y software, creemos en que cuando un grupo de personas se lo propone logra muchas cosas y eso es lo que queremos proponernos.
</p>

<h1 class="inicio" style="margin-bottom: 1%;">¿Cual es la base de nuestra propuesta?</h1>
<p class="textoH">
    Mi propuesta es que nos propongamos una meta ambiciosa pero alcanzable: convertirnos en la empresa líder en nuestro mercado local. ¿Cómo podemos lograr esto? Primero, debemos seguir enfocándonos en la calidad de nuestro trabajo, asegurándonos de que nuestros productos sean de primera clase y satisfagan las necesidades de nuestros clientes.

También debemos estar siempre al tanto de las últimas tendencias en tecnología y estar dispuestos a adaptarnos a medida que el mercado cambie. Esto significa invertir en capacitación y desarrollo de nuestro equipo, así como estar abiertos a nuevas ideas y formas de trabajar.

Finalmente, debemos mantener una cultura empresarial sólida y colaborativa, en la que todos los miembros del equipo se sientan valorados y puedan contribuir al éxito de la empresa.

Creo que si nos enfocamos en estos aspectos y trabajamos juntos como equipo, podemos lograr nuestra meta de convertirnos en la empresa líder en nuestro mercado local en los próximos 5 años. ¡Estoy emocionado de ver lo que podemos lograr juntos!
</p>
<h1 class="inicio" style="margin-bottom: 1%;">¿Quien conforma este equipo?</h1>
<p class="textoH">
    Este equipo esta conformado por grandes personas lo cual esta conformado por 4 personas por el momento en el area de desarollo web los
    integrantes son:
</p><br>
<p class="textoH">
    Emmanuel Guzmán Salas: Es nuestro Desarrollador full stack, es el que se encarga de estar en varias areas del sistema,
    el esta al pendiente de los mas minimos errores en el codigo para poder resolverlos.
</p><br>
<p class="textoH" >
    José Emmanuel Mauricio Arteaga: Es nuestro gran desarrollador back-end, el cual se encarga de varias de nuestras 
    funcionalidades funcionen para poder hacer que las aplicaciones logren tener funciones de buena calidad.
</p><br>
<p class="textoH" >
    Miguel Ángel Rivera Castillo: Es el encargado de ser el Administrador de las bases de datos para el funcionamiento de los
    registros que requieran ser guardados de manera segura para nuestros usuarios.
</p><br>

<p class="textoH" >
    Christian Emmanuel Davis Castañeda: Es el encargado de ser el Desarrollador front-end, el se encargara de poder
    dar un diseño a la altura de nuestros usuarios y que se sientan empatizados al diseño de nuestras paginas web.
</p><br>


<h1 class="inicio" style="margin-bottom: 1%;">¿Que podemos hacer?</h1>
<p class="textoH">
Esta empresa brinda a sus trabajadores lo mejro para que puedan sentrise comodos, por eso hemos decidido
que nuestros empleados podran tener libertad de trabajar con mas empresas, claro con el permiso requerido y 
que no intervenga con los horarios y labores con nuestros compromisos   
</p>

<p class="textoH">
    Puedes comunicarte con nuestros empleados por medio de nuestras redes sociales o por medio de nuestro portafolio
    interno de la empresa.   
    </p><br>


</div>

<!--card-->

<div class="container-card" data-aos="zoom-in">

<div class="card">
<figure>
    <img src="../../../assets/img/team/emma.jpg">
</figure>
<div class="contenido-card">

    <h3>Emmnauel Guzman Salas</h3>
    <p> Desarollador Full stack</p>
    <hr><br>
    <a href="https://www.facebook.com/ozkan.aslan.7503314/"><i style="font-size: 23px; margin-top: 20%; color: #3b5998;" class="fab fa-facebook"></i> </a>
    <a href="https://twitter.com/Poison_Ghost24"><i style="font-size: 23px; margin-top: 20%; color: cornflowerblue;" class="fab fa-twitter"></i> </a>
    <a href="https://api.whatsapp.com/send?phone=4498043892"><i  style="font-size: 23px; margin-top: 20%; color: #C13584;" class="fab fa-instagram"></i> </a>
     <a href="https://github.com/Emmanuel-Salas"><i style="font-size: 23px; margin-top: 20%; color: #171515;" class="fab fa-github"></i></a>
    <a href="https://api.whatsapp.com/send?phone=4495124666"><i style="font-size: 23px; margin-top: 20%; color: #07762c" class="fa-brands fa-whatsapp"></i></a>
    <a href=""><i class="fa-solid fa-circle-user" style="font-size: 21px; margin-top: 20%; color: rgb(0, 0, 0);"></i></a>
</div>
</div>


<div class="card">
<figure>
    <img src="../../../assets/img/team/davis.jpg">
</figure>
<div class="contenido-card">
    <h3>Christian Davis Castañeda</h3>
    <p>Desarollador front end.</p>
    <hr><br>
    <a href="https://www.facebook.com/crhistian.emanuel/"><i style="font-size: 23px; margin-top: 20%; color: #3b5998;" class="fab fa-facebook"></i> </a>
    <a href="https://www.facebook.com/crhistian.emanuel/"><i style="font-size: 23px; margin-top: 20%; color: cornflowerblue;" class="fab fa-twitter"></i> </a>
     <a href="https://www.instagram.com/chr.dav30/?igshid=ZGUzMzM3NWJiOQ%3D%3D"><i  style="font-size: 23px; margin-top: 20%; color: #C13584;" class="fab fa-instagram"></i> </a>
     <a href="https://github.com/chr1st1an26"><i style="font-size: 23px; margin-top: 20%; color: #171515;" class="fab fa-github"></i></a>
     <a href="https://api.whatsapp.com/send?phone=4495124666"><i style="font-size: 23px; margin-top: 20%; color: #07762c" class="fa-brands fa-whatsapp"></i></a>
     <a href=""><i class="fa-solid fa-circle-user" style="font-size: 21px; margin-top: 20%; color: rgb(0, 0, 0);"></i></a>

    </div>
</div>


<div class="card">
<figure>
    <img src="../../../assets/img/team/jo.jpg">
</figure>
<div class="contenido-card">
    <h3>Jose Mauricio Arteaga</h3>
    <p>Desarollador back end.</p>
    <hr><br>
    <a href="https://www.facebook.com/jose.maurico.1"><i style="font-size: 23px; margin-top: 20%; color: #3b5998;" class="fab fa-facebook"></i> </a>
    <a href="https://www.facebook.com/jose.maurico.1"><i style="font-size: 23px; margin-top: 20%; color: cornflowerblue;" class="fab fa-twitter"></i> </a>
    <a href="https://www.facebook.com/jose.maurico.1"><i  style="font-size: 23px; margin-top: 20%; color: #C13584;" class="fab fa-instagram"></i> </a>
    <a href="https://github.com/Mauricioits"><i style="font-size: 23px; margin-top: 20%; color: #171515;" class="fab fa-github"></i></a>
    <a href="https://api.whatsapp.com/send?phone=4493093137"><i style="font-size: 23px; margin-top: 20%; color: #07762c" class="fa-brands fa-whatsapp"></i></a>
    <a href=""><i class="fa-solid fa-circle-user" style="font-size: 21px; margin-top: 20%; color: rgb(0, 0, 0);"></i></a>

        </div>
</div>


<div class="card">
<figure>
    <img src="../../../assets/img/team/miguel.jpg">
</figure>
<div class="contenido-card">
    <h3>Miguel Angel RIvera Castillo</h3>
    <p>Gestor de base de datos.</p>
    <hr><br>
    <a href="https://api.whatsapp.com/send?phone=4498043892"><i style="font-size: 23px; margin-top: 20%; color: #3b5998;" class="fab fa-facebook"></i> </a>
    <a href="https://api.whatsapp.com/send?phone=4498043892"><i style="font-size: 23px; margin-top: 20%; color: cornflowerblue;" class="fab fa-twitter"></i> </a>
    <a href="https://api.whatsapp.com/send?phone=4498043892"><i  style="font-size: 23px; margin-top: 20%; color: #C13584;" class="fab fa-instagram"></i> </a>
    <a href="https://api.whatsapp.com/send?phone=4498043892"><i style="font-size: 23px; margin-top: 20%; color: #171515;" class="fab fa-github"></i></a>
    <a href="https://api.whatsapp.com/send?phone=4495124666"><i style="font-size: 23px; margin-top: 20%; color: #07762c" class="fa-brands fa-whatsapp"></i></a>
    <a href=""><i class="fa-solid fa-circle-user" style="font-size: 21px; margin-top: 20%; color: rgb(0, 0, 0);"></i></a>

        </div>
</div>


</div>


<h1 class="inicio" style="margin-bottom: 1%;">Reglamento</h1>
<p class="textoH">
    EsEste es el reglamento para que nuestros empleados puedan trabajar fuera de nuestra empresa bajo contrato:
</p><br>

<ol style="font-size: 28px;">
    <li>No poder filtrar información de nuestrab empresa.</li>
    <li>firmar contratos de forma legal</li>
    <li>tendremos ganancias del 30% de dichos tratos</li>
    <li>Usar la cuenta empresarial.</li>
    <li>No ocupar tiempo del horario laboral.</li>
   
    
  </ol>

</body>

