<div class="arriba">
<header>
    <div class="container" >

        <div class="textos">
            <h1>Ingeni-Tec</h1>
            <h2>La empresa numero #1 en el area de desarollo de tus sueños.</h2><br>
            <h3>Empresa de desarollo de software multiplataforma.</h3>
            <a  href="./../../../assets/pdf/conoce.pdf" download="detalles"
            style="font-size: 14px;">Descargar detalles</a>
            
        </div>
        <img  class="miImagen" src="./../../../assets/img/logoN.png" alt="">
    </div>
</header>
  <div class="wave">
      <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
  </div>
</div>


<body>
    

<div data-aos="fade-up-right" style="margin-top: 2%;">
<h1 class="inicio" style="margin-bottom: 1%;">¿Quienes somos?</h1>
<p class="textoH">
    Bienvenidos a nuestra empresa de desarrollo de software, 
    donde nos dedicamos a crear soluciones tecnológicas de vanguardia para ayudar
     a empresas y organizaciones de todo tipo a alcanzar sus objetivos y maximizar su eficiencia 
     y productividad. Somos un equipo de profesionales altamente capacitados y apasionados por 
     la tecnología, que trabajamos juntos para ofrecer soluciones personalizadas y adaptadas a 
     las necesidades únicas de nuestros clientes. Nos esforzamos por mantenernos a la vanguardia
    de las últimas tendencias y avances en el campo de la tecnología para poder brindar soluciones innovadoras y eficaces
    a nuestros clientes. Estamos comprometidos con la calidad, la innovación y la satisfacción del cliente en todo lo que hacemos.

</p>
<h1 class="inicio" style="margin-bottom: 1%;" data-aos="fade-right">Nuestra Aventura.</h1>

<p class="textoH">Hace muchos años, en el año 2021, un grupo de amigos apasionados por la tecnología se reunieron con un sueño en común: crear una empresa de software que pudiera cambiar el mundo. Ellos querían crear soluciones innovadoras que pudieran mejorar la vida de las personas y transformar la manera en que se hacen las cosas.

    Con mucho entusiasmo y determinación, estos amigos comenzaron a trabajar juntos en el desarrollo de su primera aplicación. Trabajaban durante largas horas y se esforzaban por encontrar soluciones a los desafíos técnicos que se presentaban.</p>
    
    <p class="textoH"> Finalmente, después de meses de trabajo arduo, su primera aplicación estaba lista. Era una aplicación de productividad que ayudaba a los usuarios a gestionar mejor su tiempo y ser más eficientes en su trabajo. La aplicación fue un éxito instantáneo y pronto empezaron a recibir una gran cantidad de descargas.
    
    A medida que la empresa crecía, los fundadores comenzaron a contratar a más personas que compartían su visión y pasión. La cultura de la empresa era única, y la gente se sentía inspirada por la visión y los valores de la compañía.
    
    A medida que la empresa crecía, también lo hacían sus productos y soluciones.</p>
    
    <p class="textoH">Ahora ofrecían aplicaciones de gestión de proyectos, soluciones de inteligencia artificial y software de análisis de datos avanzado. La empresa se había convertido en un líder en el mercado de software y era conocida por su innovación y excelencia técnica.
    
    A pesar de su éxito, los fundadores nunca olvidaron su propósito original: cambiar el mundo con la tecnología. La empresa continuó trabajando en soluciones que pudieran tener un impacto significativo en la sociedad, y se enorgullecían de contribuir a hacer del mundo un lugar mejor.</p>
    
    <p class="textoH"> Hoy en día, la empresa sigue creciendo y expandiéndose, con oficinas en todo el mundo y miles de clientes satisfechos. Los fundadores nunca perdieron su pasión por la tecnología, y siguen trabajando juntos para crear soluciones innovadoras que puedan mejorar la vida de las personas y hacer del mundo un lugar mejor.</p>

    <img   
    style="height: 600px; width: 950px; right: 300px; margin-left: 20%;" src="../../../assets/img/home/linea3.png">

    <h1 class="inicio" style="margin-bottom: 1%;">Visión.</h1>
    <p class="textoH"> Ser líderes en el desarrollo de software a nivel mundial, siendo reconocidos por nuestros clientes como la mejor opción para soluciones tecnológicas innovadoras y de alta calidad.</p>

    <h1 class="inicio" style="margin-bottom: 1%;">Misión.</h1>
    <p class="textoH">En nuestra empresa de desarrollo de software, nos enfocamos en brindar soluciones tecnológicas de calidad a nuestros clientes, a través de un equipo altamente capacitado, comprometido en desarrollar soluciones innovadoras y personalizadas para satisfacer las necesidades y requerimientos de cada uno de nuestros clientes. Nos enfocamos en mantenernos a la vanguardia de las últimas tecnologías y metodologías de desarrollo, para garantizar la satisfacción y éxito de nuestros clientes.</p>
    <br>


    

    <!--cards-->

    <!--cards-->

    <div class="box" style="margin-bottom: 2%;" data-aos="fade-right">
        <div class="card">
          <div class="imgBx">
              <img src="../../../assets/img/home/team2.jpg" alt="images">
          </div>
          <div class="details">
              <h2><br><span>Visión</span></h2>
          </div>
        </div>
      
         <div class="card">
           <div class="imgBx">
              <img src="../../../assets/img/home/team.jpg" alt="images">
           </div>
           <div class="details">
              <h2><br><span>Misión</span></h2>
            </div>
         </div>
   
    </div>

   <!--en que lenguajes o herramientas trabajamos-->

   <div style="margin-top: 10%;">
   <h1 class="inicio" style="margin-bottom: 1%;">¿Que ofrecemos?</h1>
   <p class="textoH" style="margin-bottom: 1%;">Te mostraremos a continuación que herramientas hemos usado tanto como frameworks, base de datos, entre
       otros elementos mas para poder desarollar nuestras aplicaciones web.</p>
       <p class="textoH" style="margin-bottom: 1%;">Nuestro equipo esta super capacitado para brindar los mejores proyectos y aplicaciones
    para óder brindar lo mejor de en el ambito del desarollo de aplicaciones y que estos sean de la mejor calidad posible</p>

   <div class="container" data-aos="fade-down-left" >
    <div id="wrapper">
        <div id="content">
            <h1 class="inicio" style="margin-bottom: 1%;">¿Que herramientas ofrecemos?</h1>
          <div class="photos" style="padding: 1%; margin-left: 3%;">
            <ul class="clearfix">
    
              <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/html.png" width="150" height="150"></a></li>
              
           
              <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/css.png" width="150" height="150"></a></li>
              
              <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/ng.png  " width="150" height="150"></a></li>
            
              <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/ionic.png" width="150" height="150"></a></li>
              
            
              <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/mysql.png" width="150" height="150"></a></li>
              
             
              <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos//node.png" width="150" height="150"></a></li>
              
              
              <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/jss.png" width="150" height="150"></a></li>
            
       
            <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/mongo.png" width="150" height="150"></a></li>
              
           
            <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/boos.png" width="150" height="150"></a></li>
            
           
            <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/fb.png" width="150" height="150"></a></li>
         
            <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/react.png" width="150" height="150"></a></li>
            
            

            <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/goo.png" width="150" height="150"></a></li>
            
           
            <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/vue.png" width="150" height="150"></a></li>
         
            <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/hbs.png" width="150" height="150"></a></li>
            
            <li><a  rel="lightbox" title=""><img src="../../../assets/img/iconos/ts.png" width="150" height="150"></a></li>
            
           
 
            </ul>
          </div>
        </div>
  </div>
  </div>
</div>

<h1 class="inicio" style="margin-bottom: 1%;">¿Que servicios brindamos?.</h1>
<p class="textoH">Brindamos varios tipos de servicio, como los que podrian ser los siguientes, pueden ser solicitados 
  mediante las redes sociales de la empresa para mejor comunicación con nuestro equipo.</p>
  <p class="textoH">Nuestros servicios son los siguientes:</p>
   <br>
  <ol class="textoH">
    <li>Mantenimiento de las paginas web.</li>
    <li>Desarollo de front end.</li>
    <li>Desarollo back end.</li>
    <li>Creación de landing page.</li>
    <li>Desarollo de app moviles.</li>
    <li>Desarollo de aplicaciones web.</li>
  </ol>
  
</div>

</body>

<!--vdskfadgsd-->