<nav  class="navbar">
    <div class="navbar-logo">
      <i class="fa-solid fa-code" style="font-size: 30px; color:  #0e52d0;"></i>
      
      <!-- <img src="ruta/a/tu/logo.png" alt="Logo"> -->
    </div>
    <ul class="navbar-menu"  >
      <li><a routerLink="/header-component/home" style="font-size: 20px;" >Inicio</a></li>
      <li><a routerLink="/header-component/team" style="font-size: 20px;">Team</a></li>
      <li><a routerLink="/header-component/colaboraciones" style="font-size: 20px;">socios</a></li>
      <li><a routerLink="/header-component/PYP" style="font-size: 20px;">Politicas</a></li>
      <li><a routerLink="/header-component/productos" style="font-size: 20px;">Productos</a></li>
      <li><a routerLink="/header-component/random-names" style="font-size: 20px;">xdxd</a></li>
      <li><a routerLink="/header-component/home" style="font-size: 20px;">Contacto</a></li>
      <li><a routerLink="/" style="font-size: 20px; color: red;">Logout</a></li>
    </ul>
  </nav>
  