<nav  class="navbar">
    <div class="navbar-logo">
      <i class="fa-solid fa-code" style="font-size: 30px; color:  #0e52d0;"></i>
      
      <!-- <img src="ruta/a/tu/logo.png" alt="Logo"> -->
    </div>
    <ul class="navbar-menu"  >
      <li><a routerLink="/home" style="font-size: 20px;" >Inicio</a></li>
      <li><a routerLink="/team" style="font-size: 20px;">Team</a></li>
      <li><a routerLink="/colaboraciones" style="font-size: 20px;">socios</a></li>
      <li><a routerLink="/PYP" style="font-size: 20px;">Politicas</a></li>
      <li><a routerLink="/" style="font-size: 20px;">Contacto</a></li>
      <li><a routerLink="/login" style="font-size: 20px; color: red;">Logout</a></li>
    </ul>
  </nav>
  