<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
</head>
<body>
    <div class="product-container">
        <img class="product-img" src="..//..//../assets/img/Productos/Manual 1.jpg" alt="Producto">
        <h2 class="product-title">Manual Redes V1</h2>
        <p class="product-description">Manual de redes para principiantes, conviertete en un experto.</p>
        <p class="product-quantity">Cantidad disponible: 15</p>
        <p class="product-price">$15.00</p>
        <button class="product-button">!Lo quiero!</button>
    </div>
</body>
</html>
