<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/811311a899.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  
  
    <form>
  
      <h3>Login Here</h3>
    
      <label for="username">username</label>
      <input type="text" placeholder="Email" id="username" [(ngModel)]="usuario.email">
    
      <label for="password">password</label>
      <input type="password" placeholder="password" id="password" [(ngModel)]="usuario.password">
    
      <button (click)="Ingresar()"><a style=" text-decoration: none;">Log in</a></button>
      <div class="social">
       <div class="go"><i style="font-size:22px;" class="fa-brands fa-google"></i><a href="https://www.gmail.com" style="text-decoration: none;">Google</a></div>
       <div class="fb"><i style="font-size:22px;" class="fa-brands fa-facebook-f"></i><a href="https://www.facebook.com" style="text-decoration: none;">Facebook</a></div>


       </div>
       </form>
   
    
  
      
</body>
</html>