<app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-footer></app-footer>
<header>
    <div class="navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand aling-item-center d-flex">
            <i class="fas fa-shipping-fast">
                
            </i>
            <strong style="font-size: 30px;">flipkart</strong>
            <div class="from-group">
                <input type="text" class="from-control" placeholder="Buscar productos">
                <span class="fas fa-search search-icon"></span>
            </div>
            <button class="byn btn-primary">
                <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
                <div  style="font-size: 10px;" class="badge bg-danger"></div>
            </button>

        </div>
    </div>
</header>
